*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(17,24,39);
}
#song{
    display: flex;
    align-items: center;
    justify-content: center;
}

#song img{
    height: 40vh;
    width: 20vw;
    margin-top: 180px;
    border-radius: 20px;
}

#aud{
    margin-top: 10px;
    margin-left:40% ;
}


#aud-control{
    margin-top: 10px;
    color: aliceblue;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#progress{
    margin-left: 40%;
    width: 20vw;
}